
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="height:100vh;vertical-align:central;">
        <h3>You are not authorized to access this page.</h3>
        <label>Click <a href="/">here</a> to login again.</label>
    </div>    
</body>
</html>
